* {
    box-sizing: border-box;
    font-family: "Inter";
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

nav {
    width: 550px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21222A;
    padding: 38px 27px 32px 27px;
}

h1{
    font-weight: 700;
    font-size: 39px;
}

h3{
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
    margin-left: 5px;
}

h4{
    color: #DEEBF8;
    margin-left: auto;
}

main{
    height: 459px;
    width: 550px;
    background-color: #282D35;
    color: white;
    padding: 57px 99px 125px 27px;
    background-image: url(./reactjs-bg-icon.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

li{
    width: 390px;
}

li::marker {
    color: #61DAFB;
    font-size: 25px;
}